<!--NOTE!!-->
<!--THE FORM BELOW KEEPS THROWING A NULL ERROR. -->
<!--Can't seem to get it to work.-->

<!--<form action="/user/create" method="POST">-->
  <!--<h2>Create a User</h2>-->
  <!--<br>-->
  <!--<br>-->

  <!--<div class="form-group">-->
    <!--<label for="name">Name:</label>-->
    <!--<input type="text" class="form-control" id="name" name="name">-->
  <!--</div>-->

  <!--<div class="form-group">-->
    <!--<label for="email">Email address:</label>-->
    <!--<input type="text" class="form-control" id="email" name="email">-->
  <!--</div>-->
  <!---->
  <!--<div class="form-group">-->
    <!--<label for="hometown">Hometown: </label>-->
    <!--<input type="text"  class="form-control" id="hometown" name="hometown">-->
  <!--</div>-->
  <!--<button type="submit" class="btn btn-default" value="Create User">Submit</button>-->
<!--</form>-->


<!--NOTE!!-->
<!--BASIC CODE BELOW WORKS.-->
<!--I have no clue why the top one doesn't.-->


<form action="/user/create" method="post">
  <h1>Create User</h1>
  <input type="text" placeholder="Name" name="name">
  <input type="text" placeholder="Email" name="email">
  <input type="text" placeholder="Hometown" name="hometown">
  <input type="submit" value="Create User">

</form>
