<!--NOTE!!-->
<!--THE FORM BELOW KEEPS THROWING A NULL ERROR. -->
<!--Can't seem to get it to work.-->


<!--EDIT 2 : Okay. So I changed the position of the name attribute and it somehow magically works now. Which really doesn't make sense to me.-->
<form action="/user/create" method="post">
  <h2>Create a User</h2>
  <br>
  <br>

  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="name" class="form-control" id="name" >
  </div>

  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="text" name="email" class="form-control" id="email" >
  </div>

  <div class="form-group">
    <label for="hometown">Hometown: </label>
    <input type="text"  name="hometown" class="form-control" id="hometown" >
  </div>
  <button type="submit" class="btn btn-default" value="Create User">Submit</button>
</form>


<!--NOTE!!-->
<!--BASIC CODE BELOW WORKS.-->
<!--I have no clue why the top one doesn't.-->


<!--<form action="/user/create" method="post">-->
  <!--<h1>Create User</h1>-->
  <!--<input type="text" placeholder="Name" name="name">-->
  <!--<input type="text" placeholder="Email" name="email">-->
  <!--<input type="text" placeholder="Hometown" name="hometown">-->
  <!--<input type="submit" value="Create User">-->

<!--</form>-->
